<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>
<body>
<h2>Welcome to the Home Page</h2>
<input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}">
<button id="logoutButton">Logout</button>

<script>
    $(document).ready(function () {
        $('#logoutButton').on('click', function () {
            $.ajax({
                url: '/user/logout_user/', // URL to your Django logout view
                type: 'POST',
                data: {
                    csrfmiddlewaretoken: $('input[name="csrfmiddlewaretoken"]').val()
                },
                success: function (response) {
                    window.location.href = response.redirect_url;
                }
            });
        });
    });
</script>
</body>
</html>
