<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>
<body>
<h2>Login</h2>
<form id="loginForm">
    <!-- CSRF Token -->
    <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}">

    <div>
        <label for="username">Username:</label>
        <input type="text" id="username" name="username" required>
    </div>
    <div>
        <label for="password">Password:</label>
        <input type="password" id="password" name="password" required>
    </div>
    <button type="submit">Login</button>
</form>
<div id="message"></div>

<!-- 添加跳转到注册页面的按钮 -->
<div style="margin-top: 10px;">
    <button onclick="window.location.href='/user/register_html';">Register</button> <!-- 确保此处的URL指向您的注册页面 -->
</div>

<script>
    $(document).ready(function () {
        $('#loginForm').on('submit', function (e) {
            e.preventDefault();
            $.ajax({
                url: '/user/login_user/',
                type: 'POST',
                data: {
                    csrfmiddlewaretoken: $('input[name="csrfmiddlewaretoken"]').val(),
                    username: $('#username').val(),
                    password: $('#password').val()
                },
                success: function (response) {
                    if (response.success) {
                        window.location.href = response.redirect_url;
                    } else {
                        $('#message').text('Invalid credentials').css('color', 'red');
                    }
                }
            });
        });
    });
</script>
</body>
</html>
